*.id0
*.id1
*.nam
*.til
*.bin
*.elf
*.o
*.obj
!loaders/A830_RAMDLD_0520.bin
!loaders/A830_RAMDLD_0520_Patched_Dump_NOR.bin
!loaders/A835_Additional_Payload_1.bin
!loaders/A835_Additional_Payload_2.bin
!loaders/E380_RAMDLD_0910.bin
!loaders/E380_RAMDLD_0910_Hacked_Dump.bin
